@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

/* nav section started */
.navber {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw 7vw 1vw 7vw;
    align-items: center;
}


.logo h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.4vw;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 1.7vw;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 1.7vw;
    align-items: center;
    margin-left: 1.7vw;
}

.list li {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: .9vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.menu {
    display: none;
}

.menu,
.search,
.cart {
    width: 2vw;
}

.menu img,
.search img,
.cart img {
    width: 100%;
}

/* nav section ended */

/* banner section start */
.banner {
    width: 100%;
    padding: 1.6vw 6.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-des {
    width: 55%;
}

.banner-des h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3vw;
    font-weight: 700;
    line-height: 4vw;
}

.banner-des p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1vw;
    font-weight: 600;
    margin-top: .8vw;
}

.btn {
    border-radius: 4vw;
    background: #E02C6D;
    border: none;
    outline: none;
    color: #FFF;
    font-size: .9vw;
    font-weight: 700;
    padding: .5vw 1.2vw;
    margin-top: 1vw;
}

.btn i {
    margin-left: .4vw;
}

.banner-img {
    width: 40%;
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-img img {
    width: 100%;
}

/* banner section ended */

/* main part started */

/* this is store name */
.store {
    width: 77%;
    margin: auto;
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 0 0 0;
    margin-top: 3vw;
}

.store img {
    width: 8%;
}

/* this is product section */

.product {
    width: 72%;
    margin: auto;
    margin-top: 10vw;

}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin-top: 2vw;
}

.product h1 {
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 600;
}

.product-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1vw;
    padding: 1vw;
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    color: #18191F;
    font-size: 2.3vw;
    font-weight: 500;
}

.star {
    display: flex;
    align-items: center;
    gap: 1%;
    justify-content: left;
    height: 1.3vw;
    width: 40%;
}

.star p {
    color: #3A3A3A;
    font-size: 1vw;
    font-weight: 600;
    margin: auto;
}

.star svg {
    height: 1vw;
    width: 1vw;
}

.des {
    color: #787885;
    font-family: poppins;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 1vw;
}

.price {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 400;
}

.see-btn {
    text-align: right;
}

.pro-btn {
    outline: none;
    border: none;
    margin-top: 2vw;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 1vw;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;

}

.pro-btn i {
    margin-left: .5vw;
}

/* this is end of product section */
/* this is product in one place */
.one-place {
    width: 77%;
    display: flex;
    margin: auto;
    margin-top: 5vw;
    align-items: center;
    gap: 4%;
}

.pl-img {
    width: 37%;
}

.pl-img img {
    width: 100%;
}

.pl-text {
    width: 60%;
}

.pl-text h3 {
    color: #0A0826;
    font-family: Poppins;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 5vw;
}

.pl-text p {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: .9vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3vw;
}

/* end of product in one place */

/* footer section start */

footer {
    margin-top: 5vw;
    width: 100%;
    text-align: center;
    padding: 6vw 0vw;
    background: #0A0826;
    color: #fff;
}

footer h3 {
    font-size: 1.7vw;
    font-weight: 700;
}

footer p {
    color: #D9DBE1;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4vw;
    margin-top: .3vw;
}

.icon {
    font-size: 1.6vw;
    margin: auto;
    margin-top: 1.5vw;
    width: 15%;
    display: flex;
    align-items: center;
    height: 4vw;
    justify-content: space-between;
}

.icon i {
    height: 3vw;
    width: 3vw;
    border: 0.1vw solid #E02C6D;
    border-radius: 50%;
    margin-top: auto;
    margin-left: auto;
    color: rgb(224, 44, 109);
    background-color: #c7bfbf;
    padding-top: .6vw;
    transition: all ease 0.3s;
}

.btn:hover,
.icon i:hover {
    box-shadow: rgba(224, 44, 109, 0.3) 0px 19px 38px, rgba(224, 44, 109, 0.22) 0px 15px 12px;
}




/* -----------------------footer ended--------------------------- */
















@media screen and (max-width:600px) {

    .navber {
        width: 100%;
        padding: 6vw 7vw 2vw 7vw;
        align-items: center;
    }


    .logo h1 {
        font-size: 4vw;
    }


    .list {
        gap: 1.7vw;
        margin-left: 1.7vw;
    }

    .list li:nth-child(-n+4) {
        display: none;
    }


    .menu {
        display: block;
    }

    .menu,
    .search,
    .cart {
        width: 5vw;
    }

    .menu img,
    .search img,
    .cart img {
        width: 100%;
    }

    /* nav section ended */


    /* banner section start */
    .banner {
        padding: 1.6vw 6.2vw;
        flex-direction: column-reverse;
    }

    .banner-des {
        width: 90%;
        text-align: center;
    }

    .banner-des h1 {
        font-size: 7vw;
        font-weight: 700;
        line-height: 8vw;
    }

    .banner-des p {
        margin-top: 5vw;
        font-size: 3.5vw;
        font-weight: 600;

    }

    .btn {
        border-radius: 4vw;
        font-size: 4vw;
        padding: 1vw 3vw;
        margin-top: 3vw;
        transition: all ease 0.5s;
    }

    .btn i {
        margin-left: .4vw;
    }

    .banner-img {
        width: 90%;
        background-image: url(../images/Circle\ design.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 10vw;
    }

    .banner-img img {
        width: 100%;
    }

    /* banner section ended */

    /* main part started */

    /* this is store name */
    .store {
        width: 90%;
        padding: 2vw 2vw;
        gap: 7%;
        margin-top: 4vw;
    }

    .store img {
        margin-top: 4vw;
        width: 18%;
    }

    /* product section */

    .product {
        width: 90%;
        margin-top: 15vw;

    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product h1 {
        font-size: 6vw;
        margin-bottom: 5vw;
    }

    .product-card {
        border-radius: 2vw;
        padding: 4vw;
        margin-top: 5vw;
    }


    .product-card h3 {
        font-size: 7vw;
    }

    .star {
        height: 5vw;
    }

    .star p {
        font-size: 3.5vw;
    }

    .star svg {
        height: 4vw;
        width: 4vw;
    }

    .des {
        font-size: 3.5vw;
    }

    .price {
        font-size: 7vw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    .see-btn {
        text-align: center;
    }

    .pro-btn {
        margin-top: 5vw;
        font-size: 5vw;
    }

    .pro-btn i {
        margin-left: .5vw;
    }

    /* this is product in one place */
    .one-place {
        width: 90%;
        flex-direction: column-reverse;
        margin-top: 9vw;
        text-align: center;
    }

    .pl-img {
        width: 100%;
        margin-top: 10vw;
    }


    .pl-text {
        width: 100%;
    }

    .pl-text h3 {
        font-size: 9vw;
        line-height: 9vw;
        margin-bottom: 6vw;
    }

    .pl-text p {
        font-size: 5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 6vw;
    }

    /* footer section start */



    footer h3 {
        font-size: 7vw;
    }

    footer p {
        color: #D9DBE1;
        font-size: 5vw;
        line-height: 6vw;
        margin-top: 3vw;
        padding:0vw 3vw;
    }

    .icon {
        font-size: 5vw;
        margin-top: 3vw;
        width: 70%;;
        height: 8vw;
    }

    .icon i {
        height: 7vw;
        width: 7vw;
        margin-right:10% ;
    }






}